# Server Port Configuration
PORT=5000

# Database Connection URI (MongoDB)
MONGO_URI=mongodb://127.0.0.1:27017/shinntopup

# JWT Secret Key for Authorization
JWT_SECRET=

# Google Gemini API Key for AI recommendation & lookup nickname
GEMINI_API_KEY=

# Midtrans API Sandbox Credentials (isProduction = false)
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false

# Frontend URL (for CORS allowance)
FRONTEND_URL=http://localhost:5173

# Node Environment: 'development' (allows mock token fallback) or 'production' (requires real keys)
NODE_ENV=development
